{% extends "index.html" %}
{% load static %}

{% block buscador %}
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
      method="GET" action="{% url 'buscar_lectivo' %}">
    <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar"
               value="{{ request.GET.buscar }}">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
{% endblock buscador %}

{% block content %}
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <script src= "{% static 'Js/script1.0.js' %}"></script>

    <div class="container py-4">
        <h2 class="text-center mb-4">Listado de Productos</h2>
        <div class="row mb-3">
            <div class="col-md-6">
                <a href="#" class="btn btn-primary">Agregar Producto</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Ciudad</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Correo_electronico</th>
                            <th>Contacto</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for proveedor in proveedores %}
                            <tr>
                                <td>{{ proveedor.Id_proveedor }}</td>
                                <td>{{ proveedor.Nombre }}</td>
                                <td>{{ proveedor.Ciudad }}</td>
                                <td>{{ proveedor.Direccion }}</td>
                                <td>{{ proveedor.Telefono }}</td>
                                <td>{{ proveedor.Correo_electronico }}</td>
                                <td>{{ proveedor.Contacto }}</td>
                                <td>
                                    <a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modifyModal{{ producto.Id_producto }}">Modificar</a>
                                    <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal{{ producto.Id_producto }}">Eliminar</a>
                                </td>
                            </tr>                 
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
