
<div class="modal fade" id="carritoModal" tabindex="-1" role="dialog" aria-labelledby="carritoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="carritoModalLabel">Mi Carrito</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% if detalles_pedido %}
            <table>
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Precio Unitario</th>
                  <th>Precio Total</th>
                </tr>
              </thead>
              <tbody>
                {% for detalle in detalles_pedido %}
                  <tr>
                    <td>{{ detalle.producto.nombre }}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.producto.precio }}</td>
                    <td>{{ detalle.precio_total }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <p>Total del Pedido: {{ pedido.get_total }}</p>
          {% else %}
            <p>Tu carrito está vacío.</p>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>