<h1>Carrito de Compras</h1>
<table class="table table-striped">
    {% if detalles_pedido %}
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Precio Total</th>
        </tr>
    </thead>
    <tbody>
        {% for detalle in detalles_pedido %}
        <tr>
            <td>{{ detalle.producto.nombre }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>{{ detalle.producto.precio }}</td>
            <td>{{ detalle.precio_total }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay productos en el carrito.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total del Pedido: {{ pedido.get_total }}</p>
{% else %}
<p>No hay productos en el carrito.</p>
{% endif %}

<!-- Remove the modal-dialog and modal-content divs since they are already in the base.html
<div class="modal-body">
    <h1>Carrito de Compras</h1>
    <table class="table table-striped">
        {% if detalles_pedido %}
        <table>
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio Unitario</th>
              <th>Precio Total</th>
            </tr>
          </thead>
          <tbody>
            {% for detalle in detalles_pedido %}
              <tr>
                <td>{{ detalle.producto.nombre }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.producto.precio }}</td>
                <td>{{ detalle.precio_total }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <p>Total del Pedido: {{ pedido.get_total }}</p>
      {% else %}
        <p>Tu carrito está vacío.</p>
      {% endif %}
    </table>
  </div> -->

