{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="container py-4">
    <h2 class="text-center mb-4">Realizar Venta</h2>

    
    <div class="mb-3">
        <button type="button" class="btn btn-primary btn-sm mr-2" data-toggle="modal" data-target="#agregarProductosModal">
            <i class="fas fa-plus mr-1"></i> Agregar Productos
        </button>
        <button type="button" class="btn btn-primary btn-sm mr-2" data-toggle="modal" data-target="#agregarClienteModal">
            <i class="fas fa-user mr-1"></i> Agregar Cliente
        </button>
    </div>

    <form id="formVenta" method="post" action="{% url 'realizar_venta' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="fecha_venta">Fecha de Venta:</label>
            <input type="date" class="form-control" id="fecha_venta" name="fecha_venta" required>
        </div>

        <input type="hidden" id="cliente_id" name="cliente_id" value="">

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="desglosar_iva" name="desglosar_iva">
            <label class="form-check-label" for="desglosar_iva">Desglosar IVA</label>
        </div>

        <div class="table-responsive mt-4">
            <table class="table table-striped table-hover" id="tablaProductos">
                <thead class="thead-dark">
                    <tr>
                        <th>Cliente</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se agregarán las filas de los productos y clientes seleccionados -->
                </tbody>
            </table>
        </div>

        <div class="text-right mt-4">
            <button type="submit" class="btn btn-success">Realizar Venta</button>
        </div>
    </form>
</div>

<!-- Modal para agregar productos -->
<div class="modal fade" id="agregarProductosModal" tabindex="-1" role="dialog" aria-labelledby="agregarProductosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarProductosModalLabel">Agregar Productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <input type="text" class="form-control" id="buscarProducto" placeholder="Buscar producto...">
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for producto in productos %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ producto.nombre }}</h5>
                                <p class="card-text">{{ producto.descripcion }}</p>
                                <p class="card-text">Precio: ${{ producto.precio }}</p>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" min="1" value="1" id="cantidad-{{ producto.pk }}">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" onclick="agregarProducto({{ producto.pk }})">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar clientes -->
<div class="modal fade" id="agregarClienteModal" tabindex="-1" role="dialog" aria-labelledby="agregarClienteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarClienteModalLabel">Agregar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="buscarCliente" placeholder="Buscar cliente...">
                </div>
                <div class="row">
                    {% for cliente in clientes %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ cliente.usuario.first_name }} {{ cliente.usuario.last_name }}</h5>
                                <p class="card-text">{{ cliente.usuario.email }}</p>
                                <p class="card-text">{{ cliente.colegio }}</p>
                                <div class="text-center">
                                    <button class="btn btn-primary" onclick="agregarCliente({{ cliente.pk }})">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
function agregarProducto(productoId) {
    var cantidad = parseInt($(`#cantidad-${productoId}`).val());
    if (isNaN(cantidad) || cantidad <= 0) {
        Swal.fire('Error', 'La cantidad debe ser un número mayor que cero.', 'error');
        return;
    }

    // Obtener la información del producto desde el servidor
    $.ajax({
        url: "{% url 'obtener_producto' %}",
        data: { 'producto_id': productoId },
        method: 'GET',
        success: function(data) {
            var producto = data.producto;
            var subtotal = producto.precio * cantidad;

            // Verificar si el producto ya existe en la tabla
            var filaExistente = $('#tablaProductos tbody tr').filter(function() {
                return $(this).find('td:eq(1)').text() === producto.nombre;
            });

            if (filaExistente.length > 0) {
                // Actualizar la cantidad y el subtotal de la fila existente
                filaExistente.find('.cantidad').val(function(_, oldVal) {
                    return parseInt(oldVal) + cantidad;
                });
                var cantidadTotal = parseInt(filaExistente.find('.cantidad').val());
                var subtotalActualizado = cantidadTotal * producto.precio;
                filaExistente.find('td:eq(4)').text(`$${subtotalActualizado.toFixed(2)}`);
            } else {
                // Agregar una nueva fila si el producto no existe
                var fila = `
                    <tr>
                        <td></td>  // Columna vacía para el cliente
                        <td>${producto.nombre}</td>
                        <td><input type="number" class="form-control cantidad" min="1" value="${cantidad}" data-precio="${producto.precio}"></td>
                        <td>$${producto.precio}</td>
                        <td>$${subtotal.toFixed(2)}</td>
                        <td><button class="btn btn-danger btn-sm eliminar-producto"><i class="fas fa-trash"></i></button></td>
                    </tr>
                `;
                $('#tablaProductos tbody').append(fila);
            }

            calcularTotal();
        },
        error: function(xhr, status, error) {
            console.error(xhr.responseText);
        }
    });
}

function agregarCliente(clienteId) {
    // Obtener la información del cliente desde el servidor
    $.ajax({
        url: "{% url 'obtener_cliente' %}",
        data: { 'cliente_id': clienteId },
        method: 'GET',
        success: function(data) {
            var cliente = data.cliente;

            // Agregar el cliente a las filas existentes si hay productos
            var filas = $('#tablaProductos tbody tr');
            if (filas.length > 0) {
                filas.each(function() {
                    $(this).find('td:first').html(cliente.nombre);
                });
            } else {
                // Si no hay productos, no agregar ninguna fila
                Swal.fire('Error', 'Debe agregar al menos un producto antes de seleccionar un cliente.', 'error');
            }

            // Establecer el valor del campo oculto con el cliente_id
            $('#cliente_id').val(clienteId);
        },
        error: function(xhr, status, error) {
            console.error(xhr.responseText);
        }
    });
}

    function calcularTotal() {
        var total = 0;
        $('#tablaProductos tbody tr').each(function() {
            var cantidad = parseInt($(this).find('.cantidad').val());
            var precio = parseFloat($(this).find('.cantidad').data('precio'));
            var subtotal = cantidad * precio;
            total += subtotal;
        });
        $('#total').text(`$${total.toFixed(2)}`);
    }

    $(document).ready(function() {
        $('#tablaProductos').on('click', '.eliminar-producto', function() {
            $(this).closest('tr').remove();
            calcularTotal();
        });

        $('#tablaProductos').on('change', '.cantidad', function() {
            var fila = $(this).closest('tr');
            var cantidad = parseInt($(this).val());
            var precio = parseFloat($(this).data('precio'));
            var subtotal = cantidad * precio;
            fila.find('td:eq(3)').text(`$${subtotal.toFixed(2)}`);
            calcularTotal();
        });
    });

    $(document).ready(function() {
    $('#buscarProducto').on('keyup', function() {
        var busqueda = $(this).val().toLowerCase();
        $('#agregarProductosModal .card').filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(busqueda) > -1);
        });
    });

    $('#buscarCliente').on('keyup', function() {
        var busqueda = $(this).val().toLowerCase();
        $('#agregarClienteModal .card').filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(busqueda) > -1);
        });
    });
});

$(document).ready(function() {
        // Reiniciar los modales después de realizar una venta
        $('#agregarProductosModal').on('hidden.bs.modal', function() {
            $(this).find('input[type="number"]').val('1');
        });

        $('#agregarClienteModal').on('hidden.bs.modal', function() {
            $(this).find('input[type="text"]').val('');
        });
    });

    
</script>
{% endblock extrajs %}