<div class="modal fade" id="edicionModal{{ cliente.pk }}" tabindex="-1" role="dialog" aria-labelledby="edicionModalLabel{{ cliente.pk }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edicionModalLabel{{ cliente.pk }}">Modificar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="formModificarCliente" action="{% url 'modificar_cliente' cliente.pk %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>